// Page size / space
@maxPageWidth: 1920px;
@maxContentWidth: 1170px;

@desktopSideSpace: 40px;
@tabletSideSpace: 30px;
@mobileSideSpace: 20px;
@gridColumnSpace: 30px;

// Font settings
@fontFamily: "Arial, sans-serif";
@baseFontMobile: 16px;
@baseFontDesktop: 18px;
@lineHeight: 1.25;
